/* Stylisation for the body */
body {
    background-color: #b5b5b5;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/* Container for all content */
div#container {
    background-color: #FFFFFF;
    margin: 0px auto;
    width:  854px;
    height: 480px;
}
